<ul class="list-group">
  <li class="list-group-item">
    <strong>Estadistica1</strong>
    <span class="badge">{{ingeniero.stats.st1}}</span>
  </li>
  <li class="list-group-item">
    <strong>Estadistica2</strong>
    <span class="badge">{{ingeniero.stats.st2}}</span>
  </li>
  <li class="list-group-item">
    <strong>Estadistica3</strong>
    <span class="badge">{{ingeniero.stats.st3}}</span>
  </li>
  <li class="list-group-item">
    <strong>Estadistica4</strong>
    <span class="badge">{{ingeniero.stats['sp.st4']}}</span>
  </li>
  <li class="list-group-item">
    <strong>Estadistica5</strong>
    <span class="badge">{{ingeniero.stats['sp.st5']}}</span>
  </li>
  <li class="list-group-item">
    <strong>Estadistica6</strong>
    <span class="badge">{{ingeniero.stats.st6}}</span>
  </li>
  <li class="list-group-item">
    <strong>Total</strong>
    <span class="badge">{{ingeniero.stats.total}}</span>
  </li>
</ul>