  <button class="btn btn-primary" ng-hide="show" ng-click="toggle()">Mostrar Solicitudes <span class="badge">{{solicitudes.length}}</span></button>
<div class="panel panel-primary" ng-show="show">
  <div class="panel-heading">
     <h1 class="panel-title">Solicitudes <button class="close pull-right" ng-click="toggle()">&times;</button></h1>
  </div>
  <div class="panel-body">
    <form name="solicitudesForm" class="form-horizontal" role="form" ng-submit="solicitudesForm.$valid && addSolicitud()" novalidate>
      <div class="form-group">
        <strong class="col-sm-12">De:</strong>
        <div class="col-sm-4">
          <textarea ng-model="solicitud.nombre" placeholder="Ingrese Nombre Completo" class="form-control" required></textarea>
        </div>
        <div class="col-sm-4">
          <textarea ng-model="solicitud.ci"placeholder="C.I:" class="form-control" required></textarea>
        </div>
         <div class="col-sm-4">
          <textarea ng-model="solicitud.facultad"placeholder="Facultad:" class="form-control" required></textarea>
        </div>
        <div class="col-sm-4">
          <label>
            <input ng-model="solicitud.email" ng-disabled="solicitud.anonymous" type="email" placeholder="Ingresa tu direccion email" class="form-control" ng-required="!solicitud.anonymous">
            <label>
              <input ng-model="solicitud.anonymous"ng-change="anonymousChanged()"   type="checkbox">
              Anonymous
          </label>
        </div>
        </div>
        <div class="form-group">
           <strong class="col-sm-12">Para:</strong>
          <div class="col-sm-4">
            <textarea ng-model="solicitud.titulo"placeholder="Ingrese Titulo" class="form-control" required></textarea>
          </div>
          <div class="col-sm-4">
            <textarea ng-model="solicitud.para"placeholder="Para:" class="form-control" required></textarea>
          </div>
          <div class="col-sm-4">
            <textarea ng-model="solicitud.cargo"placeholder="Cargo:" class="form-control" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <strong class="col-sm-12">Motivo:</strong>
          <div class="col-sm-6">
            <textarea ng-model="solicitud.body"placeholder="Motivo Solicitud" class="form-control" required></textarea>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-lg">Solicitud</button>
          </div>
        </div>
      </div>
    </form>
    <div ng-if="!solicitudesForm.$valid" class="alert alert-danger">Solicitud Inválida</div>
    <div ng-if="solicitudesForm.$valid" class="alert alert-success">Solicitud Valida</div>
    <blockquote>
      <p>{{solicitud.date}}</p>
      <p>{{solicitud.titulo}}</p>
      <p>{{solicitud.para}}</p>
      <p>{{solicitud.cargo}}</p> 
      <p>Presente.-</p> 
      <p class="text-justify">Yo, {{solicitud.nombre}} con cédula de ciudadanía {{solicitud.ci}}, egresado de la carrera de {{solicitud.facultad}}, solicito a usted muy comedidamente se me {{solicitud.body}}</p> 
      <p>Por la atención prestada al a presente, anticipo mis agradecimientos</p>
      <p>Atentamente</p>
      <p>{{solicitud.nombre}}</p> 
      <p>{{solicitud.ci}}</p> 
      <footer>
        Solicitud por 
         <img ng-if="!solicitud.anonymous" width="48px" class="img-circle" src="http://gravatar.com/avatar/{{comment.email | gravatar}}">
        <a ng-if="!solicitud.anonymous" href="mailto:{{solicitud.email}}">{{solicitud.email}}</a> 
        <em ng-if="solicitud.anonymous">Anonymous</em> en <span>{{solicitud.date}}
        </span>
        commented on <span>{{comment.date | date : 'medium'}}
        </span>
        

      </footer>
    </blockquote>
    <blockquote ng-repeat="solicitud in solicitudes  | orderBy : '-date'">
      <p>Quito, {{solicitud.date | date : 'medium'}}</p>
      <p>{{solicitud.titulo}}</p>
      <p>{{solicitud.para}}</p>
      <p>{{solicitud.cargo}}</p> 
      <p>Presente.-</p> 
      <p class="text-justify">Yo, {{solicitud.nombre}} con cédula de ciudadanía {{solicitud.ci}}, egresado de la carrera de {{solicitud.facultad}}, solicito a usted muy comedidamente se me {{solicitud.body}}</p> 
      <p>Por la atención prestada al a presente, anticipo mis agradecimientos</p>
      <p>Atentamente</p>
      <p>{{solicitud.nombre}}</p> 
      <p>{{solicitud.ci}}</p> 
      <footer>
        Solicitud por 
        <a ng-if="!solicitud.anonymous" href="mailto:{{solicitud.email}}">{{solicitud.email}}</a> 
        <em ng-if="solicitud.anonymous">Anonymous</em> en <span>{{solicitud.date | date : 'medium'}}</span>
      </footer>
    </blockquote>
  </div>
</div>